@inherits LayoutComponentBase
@inject IIdentityService auth

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <MudLayout>
            <MudAppBar>
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <WatcherCheckComponent />
                <MudSpacer />
                <MudText Typo="Typo.subtitle1">Hi <b>@context.User.Identity.Name</b></MudText>
                <MudIconButton Style="margin-left:10px" Icon="@Icons.Material.Filled.Logout" Color="Color.Primary" Href="/logout">Log out</MudIconButton>
            </MudAppBar>
            <MudDrawer @bind-Open="@_drawerOpen">
                <MudDrawerHeader Style="display: inline-flex;align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dashboard" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="13" r="2"></circle>
                        <line x1="13.45" y1="11.55" x2="15.5" y2="9.5"></line>
                        <path d="M6.4 20a9 9 0 1 1 11.2 0z"></path>
                    </svg>
                    <MudText Typo="Typo.h5" Class="mt-1" Style="margin-left:5px">Dashboard</MudText>
                </MudDrawerHeader>
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                <div style="padding: 20px">
                    @Body
                </div>
            </MudMainContent>
        </MudLayout>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

<MudThemeProvider Theme="Theme" />

@code {
    MudTheme Theme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = Colors.Grey.Lighten1,
                //Secondary = Colors.Grey.Lighten5,
                AppbarBackground = Colors.Grey.Darken4,
                //AppbarText = Colors.Grey.Lighten5,
                DrawerBackground = Colors.Grey.Darken4,
                DrawerText = Colors.Grey.Lighten5,
                //PrimaryContrastText = Colors.Grey.Darken4,
            },

            LayoutProperties = new LayoutProperties()
            {
                //DrawerWidthLeft = "260px",
                //DrawerWidthRight = "300px"
            }
        };

    bool _drawerOpen = true;

    void DrawerToggle()
        => _drawerOpen = !_drawerOpen;
}


<!--
            <div class="page">
            <div class="sidebar bg-white shadow">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4 bg-dark shadow text-white">
                    <WatcherCheckComponent />
                    Hi @context.User.Identity.Name
                    <a @onclick="auth.Logout" target="_blank" class="ml-md-auto">Log out</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
        <NotificationComponent />
-->
